# ===========================================
# ENTORNO VIRTUAL (NO SUBIR)
# ===========================================
test.open.py
*test.open.py
# ===========================================
# ENTORNO VIRTUAL (NO SUBIR)
# ===========================================
env/
venv/
.venv/

# ===========================================
# ARCHIVOS DE ENTORNO PRIVADOS
# ===========================================
.env
*.env

# ===========================================
# PYTHON CACHÉ / BASURA
# ===========================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# ===========================================
# CONFIGURACIONES LOCALES
# ===========================================
.pyvenv.cfg
.vscode/
.idea/

# ===========================================
# ARCHIVOS DEL SISTEMA
# ===========================================
.DS_Store
Thumbs.db
